{% extends 'hospital/doctor_base.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Your Referral</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Patient Name</th>
          <th>Picture</th>
          <th>Medical History</th>
          <th>Referred To</th>
          <th>Referred From</th>
          <th>Reason</th>
        </tr>
      </thead>
      {% for r in referral %}
      <tr>
        <td>{{r.patientName}}</td>
        <td> <img src="{% static p.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
        <td>{{r.medcialHist}}</td>
        <td>{{r.referredTo}}</td>
        <td>{{r.referredFrom}}</td>
        <td>{{r.reason}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}
